* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
}

.app {
  max-width: 700px;
  margin: auto;
  padding: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.top-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .top-bar {
    flex-direction: column;
  }
}

.top-bar input {
  flex: 1;
}

input,
select,
button {
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  width: 100%;
}

input,
select {
  background: #1f2937;
  color: white;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
  }
}

.controls input {
  flex: 1;
}

#stats {
  margin-bottom: 15px;
  color: #cbd5e1;
}

.card {
  background: #1f2937;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .delete-btn {
    width: 100%;
  }
}

.plate {
  font-size: 22px;
  font-weight: bold;
  word-break: break-word;
}

.time {
  font-size: 13px;
  color: #94a3b8;
  margin-top: 4px;
}

.delete-btn {
  background: #dc2626;
  padding: 10px 14px;
  border-radius: 10px;
}
